*{
    direction: rtl;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
 
}

body{
    background-color: #FDF9F3;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------ */

section{
    margin-bottom: 50px;
    direction: rtl;
}

.top .container .content  {
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
}

.top .container .content .right {
    margin-top: 150px;
}

.top .container .content .right h2{
    margin-bottom: 30px;
}

.top .container .content .right p {
    font-size: 45px;

}

.top .container .content .right p span {
    color: #00A000;
}


.top .container .content .left img {
    width: 400px;
    margin-top: 100px;
}






.top .slides {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;   
}


/* .top .slides .slide {
    width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    background-color: #e6e9ee;
} */

.top .slides .slide {
    width: 400px;
    display: flex;
    align-items: flex-start; /* يخلي الصورة والنص في نفس الخط */
    gap: 15px;              /* مسافة بينهم */
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    background-color: #e6e9ee;
    flex-wrap: nowrap; /* تمنع الكسر */
}

@media (max-width: 966px) {
  .top .slides {
    flex-direction: column;
    align-items: center;
  }

  .top .slides .slide {
    width: 100%;
    flex-direction: column; /* هنا نخليها فوق وتحت */
    text-align: center;
  }

  .top .slides .slide .img {
    margin: 0 auto 15px;
  }
}

.top .slides .slide .img{
    width: 30%;
    padding-left: 20px;
}

.top .slides .slide .img img{
    width: 60px;
    margin-top: 15px;
}

.top .slides .slide .content {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    background-image: url(imgs/feats-bg.jpg) ;
    background-attachment: scroll;
    padding-top: 80px;
    padding-bottom: 80px;
}

.center .jobs {
    width: 25%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.703);
    color: white;
    padding: 20px;
}

.center .jobs h4 {
    padding-bottom: 30px;
}
.center .jobs h2 {
    color: #00A000;
    padding-bottom: 20px;
}






























































